<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>89222153541-cgi2lmsp93addt2ln3b3anbgr32hh7b1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89222153541-cgi2lmsp93addt2ln3b3anbgr32hh7b1</string>
	<key>API_KEY</key>
	<string>AIzaSyBnHNsJlTnfBrSsp4mWixk0i7JhW626NnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>89222153541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.pro.becheckin</string>
	<key>PROJECT_ID</key>
	<string>becheckin-86455</string>
	<key>STORAGE_BUCKET</key>
	<string>becheckin-86455.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89222153541:ios:c278f13f39afd5a7</string>
	<key>DATABASE_URL</key>
	<string>https://becheckin-86455.firebaseio.com</string>
</dict>
</plist>