page-register {
    .term-button {
        display: inline-block;
        vertical-align: inherit;
        padding-left: 0;
        height: auto;
    }

    .extra-small {
        white-space: normal;
    }
}
