page-pago {

  .myInput {
    padding: 2px;
    margin: auto;
    color: #9D45B3;
    max-width: 100% !important;
    align-content: center;
    border: 1px solid #45B39D;
    border-radius: 25px;
  }

  .mySelect {
     margin: auto;
     color: red;
     text-align: left;
     max-width: 100% !important;

  }

  .mbutton1 {

    background-color: white;
    color: black;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;

  }

  .box {
    //position: absolute;

    background-color: #000066;
    color:white;
    height: 20%;

  }

  .boxwhite {
  //position: absolute;

  background-color: white;
  border-radius: 12px;
  margin: 5px;

  }


}
